[inside="@ucdesigner:/Designer/util/fileexplorer.uc"]{
    [SELF_]{
        width: inherit;
        height: inherit;
        position: relative;
    }
}
[SELF_]{
    width: 600px;
    height: 420px;
    position: relative;
    border:solid 1px black;
    background-color: white;
}
CONTAINER{
    width: 100%;
    height: 100%;
    display:grid;
    position: static;
   
    grid-template-columns: 50% auto;
}
table, tbody , tr{
    width: 100%;
    position: relative;
    height: 100%;
    display:block;
}
table td{
    
    overflow: scroll;
}
preview{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}
target{
    border:solid 1px maroon;
    display: block;

    position: relative;
    width: inherit;
    overflow: auto;
    height: inherit;
    box-sizing: border-box;
    background:url(@ucdesigner:/Designer/resource/designer/output/blank16_16.png);;
}
transparancy{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color:transparent;
}