[theme="@ucdesigner:/stageContent/controlInfo/resource/dgvItemRow.tpt.styles.scss"]
[SELF_]{
    background-color: black;
    border-bottom: dashed 5px steelblue;
}
cell{
    color: white;
    outline: solid 1px green;      
}