rof{
    $g-gblbackcolor:#f7ecd9ed;
    $g-gblcolor:#020203;
    $l-gridsizeinfo:20px 40px 150px 200px 120px 250px 100px 80px 350px;
}
[SELF_]{
    display: grid;     
    grid-template-columns: var($l-gridsizeinfo);
    height: 17px; 
    box-sizing: border-box;
    overflow: hidden;
    background-color: var( $g-gblbackcolor);
    color: var(   $g-gblcolor );
}

[SELF_][iscurrent="0"]{
    border: solid 1px transparent;
}
[SELF_][iscurrent="1"]{
    border: solid 1px black;
    background-color: var(--abc);
}
input[type="checkbox"]{
    box-sizing: border-box;
    height: 12px;
    width: 20px;
    margin-top: 2px;
}
cell{
    display: block;
    height: fit-content;  
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding-left: 5px;
    border-color: rgb(0, 26, 255);
    border-style: solid; 
    border-width: 0px;
    border-left-width: 1px;
    min-height: 100%;  
    text-overflow: ellipsis; 
}
span{ 
    display: block;
    width: 10px;
    height: 10px;  border: solid 1px black;
    box-sizing: border-box;
    margin-top: 3px;
    margin-left: -1px;
}
cell:last-child{ border-right-width: 1px; }