[theme="ucdesigner/stageContent/controlInfo/resource/dgvItemRow.tpt.scss"]
[SELF_]{
    background-color: black;
    border-bottom: dashed 1px steelblue;
}
cell{
    color: white;
    outline: solid 1px green;      
}