[SELF_]{
    width: 469px;
    height: 431px;
    box-sizing:border-box;
    background-color: white; 
}
maincontainer{
    display:block;
    padding: 4px;
    box-sizing:border-box;
    height: inherit; width:inherit;
}
container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto;
    border: ridge 1px brown;
    box-sizing:border-box;
    border-radius: 7px; 
    overflow: hidden;
}
textarea {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
[SELF_] .ace_gutter,
[SELF_] .ace_scrollbar{
    z-index: 0;
}