[theme="ucdesigner/stageContent/controlInfo/attributeTemplate.tpt.common.scss"]

[SELF_][iscurrent="1"] {
    background-color: rgb(238, 209, 175);
    border: solid 1px rgb(240, 174, 100);
}

[SELF_]:focus-within {
    background-color: lightcyan;
    border: solid 1px cyan;
}
[SELF_] text{
    font-weight: normal;
    text-align: right;
    background-color: transparent;
    border: none;
    display: inline;
    padding-right: 5px; 
    overflow: hidden; 
    white-space: pre; 
    padding-right: 5px;
    min-width: 100%;
    text-overflow: ellipsis;
}

input[type="text"]:focus {
    font-weight: bold;
    border: none!important;
    outline: none!important;
}


btn {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
btn[role="remove"] { background-image: url(ucdesigner/stageContent/controlInfo/resource/bd_drop.png); }
btn[role="remove"]:hover { background-image: url(ucdesigner/stageContent/controlInfo/resource/b_drop.png); }
btn[role="favourite"] { background-image: url(ucdesigner/stageContent/controlInfo/resource/bd_favorite.png); }
btn[role="favourite"]:hover { background-image: url(ucdesigner/stageContent/controlInfo/resource/b_favorite.png); }




[SELF_][special-attr="uc"] input {
    color: blue;
    font-style: italic;
}
[SELF_][special-attr="tpt"] input {
    color: green;
    font-style: italic;
}

[SELF_][special-attr="x-tabindex"] input,
[SELF_][special-attr="x-name"] input {
    font-weight: bold;
}

[SELF_][special-attr="x-name"] text {
    color: darkmagenta;
    font-weight: bold;
}

[SELF_][special-attr="x-tabindex"] text {
    color: green;
    font-weight: bold;
}


