[theme="ucdesigner/stageContent/controlInfo/attributeTemplate.tpt.common.scss"]
[SELF_] {
    background-color: rgb(236, 232, 232);
    display: grid; box-sizing: border-box;
    grid-template-columns: var($l-attrgridinfo);
    border: ridge 1px rgb(0, 0, 0); 
    
}


input[role="attr-value"]{
    text-align: left;
}
input[role="attr-name"]{
    text-align: right;
}

input[type="text"]:focus {
    font-weight: bold;
    border: none!important;
    outline: none!important;
}



btn {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
btn[role="addnew"] { background-image: url(ucdesigner/stageContent/controlInfo/resource/addnew.png); }
btn[role="addnew"]:hover { background-image: url(ucdesigner/stageContent/controlInfo/resource/addnew-hover.png); }
